@import "mocha.css";

* {
  font-family: "MesloLGS Nerd Font Mono Bold";
  font-size: 16px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0.75); /* blurred, semi-transparent */
  color: @overlay0;
  border-bottom: 1px solid @overlay1;
  transition-property: background-color;
  transition-duration: 0.2s;
}

#workspaces button {
  padding: 0 6px;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.3);
  color: @rosewater;
  border-top: 2px solid @rosewater;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.2);
  color: @mauve;
  border-top: 2px solid @mauve;
}

#hyprland-window {
  padding: 0 8px;
  color: @text;
}

#custom-updates {
  color: @yellow;
  border-bottom: 2px solid @yellow;
  padding: 0 8px;
}

#pulseaudio {
  color: @blue;
  border-bottom: 2px solid @blue;
  padding: 0 8px;
}

#clock {
  color: @maroon;
  border-bottom: 2px solid @maroon;
  padding: 0 8px;
}

#custom-power {
  color: @red;
  padding: 0 10px;
  font-size: 18px;
}

